---
layout: stats-page
baseurl: ../../
title: Soccer Stats
description: "Kankakee Community College Cavaliers Men's Soccer statistics."
base: soccer
sub-nav_hidden: true
njcaa_stats:
  years: 
    - 2012-13
    - 2013-14
    - 2014-15
    - 2016-17
    - 2017-18
    - 2018-19
  prefix: http://stats.njcaa.org/sports/msoc/
  suffix: /div1/teams/kankakeecommunitycollege
  sport: Soccer
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col">
      <span id="page-top" class="link__offset" aria-hidden="true"></span>
      <div class="mb-2">
        <a href="https://stats.njcaa.org/sports/msoc/2021-22/div2/teams/kankakeecommunitycollege" class="btn btn-primary">2021-22 Soccer Stats on NJCAA Website&nbsp;<svg class="ml-1" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16" fill="#fff">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
          </svg>
        </a>
      </div>
      {% include stats-button-group.html %}
      <!-- Baseball statistics tabbed navigation -->
      <div id="data">
        {% include loader.html %}
      </div>
    </div>
  </div>
</section>
