---
layout: default
baseurl: ../../
base: support
title: Cavalier Club
description: >-
  The Cavalier Club promotes and supports Kankakee Community College athletic programs 
  and encourages the involvement of the entire Community College District 520.
body_class: page ## <landing|page>
include_datatables: false
include_gapi: false
include_sub-nav: false
---

{% include nav/sub-nav-support.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <main>
        <h2 class="typography__h2">{{ page.title }}</h2>
        <div class="editable">
            <p>
              The Cavalier Club promotes and supports Kankakee Community College athletic programs and 
              encourages the involvement of the entire Community College District 520. The club sponsors 
              fundraising events each year. Proceeds help support all KCC athletic programs:
            </p>
            <ul>
              <li>a fall membership drive</li>
              <li>the Cash Bash held in February</li>
            </ul>
            <p>You can be a member of the team! Your support helps build and sustain athletic programs at KCC. No matter your level of giving, you are contributing to the development of champions--on the field, in the classroom, in the community.</p>
            <h3 class="typography__h3">Membership levels and benefits</h3>
            <h4 class="typography__h4">Platinum &ndash; $1,000 and above</h4>
            <ul>
              <li>10 season passes to all KCC athletic events</li>
              <li>Business listed in team guide, KCC website and gymnasium</li>
              <li>KCC fleece and hat</li>
              <li>FREE Cash Bash Ticket</li>
            </ul>
            <h4 class="typography__h4">Gold &ndash; $500</h4>
            <ul>
              <li>8 season passes to all KCC athletic events</li>
              <li>Name listed in team guide and KCC website</li>
              <li>KCC polo and hat</li>
            </ul>
            <h4 class="typography__h4">Red &ndash; $250</h4>
            <ul>
              <li>5 season passes to all KCC athletic events</li>
              <li>Name listed in team guide and KCC website</li>
              <li>KCC hat and T-shirt</li>
            </ul>
            <h4 class="typography__h4">Blue &ndash; $100</h4>
            <ul>
              <li>Two season passes to all KCC athletic events</li>
              <li>Name listed in team guide and KCC website</li>
              <li>KCC hat</li>
            </ul>
            <p>
              For more information about the Cavalier Club, phone Bryce Shafer,
              athletics director, at <a href="tel:+18158028613">815-802-8613</a> or email 
              <a href="mailto:bshafer@kcc.edu">bshafer@kcc.edu</a>.
            </p>
            <h3 class="typography__h3">Cavalier Club Members</h3>
            <p>The players and coaches of the 2017-18 Cavaliers athletic program wish to extend sincere thanks to the following people and businesses who have helped support the athletic program at KCC. We appreciate your donations and hope to give you in return a great season of collegiate athletics.</p>
        </div>
      </main>
    </div>
  </div>
</div>
