---
layout: default
baseurl: ../../
base: support
title: Donate
description: >-
  You can make a difference in a student-athlete's life with your 
  generous contribution to Kankakee Community College Athletics.
body_class: page ## <landing|page>
include_datatables: false
include_gapi: true
include_sub-nav: false
---

{% include nav/sub-nav-support.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <main>
        <h3 class="typography__h2">{{ page.title }}</h3>
        <div class="editable">
          <p>We appreciate your donations and hope to give you in return a great season of collegiate athletics.</p>
        </div>
        <a class="btn btn-primary btn-marg-left" href="https://foundation.kcc.edu/give/form/general" target="_blank" >Donate to Athletics</a>
      </main>
    </div>
  </div>
</div>
