---
layout: default
baseurl: ../../
base: support
title: Cavaliers Baseball Alumni and Friends Golf Outing
description: "Kankakee Community College Cash Bash is an annual fundraising event, typically held in February."
body_class: page ## <landing|page>
include_datatables: false
include_gapi: false
include_sub-nav: false
feature_image: ../../uploads/cashbash.jpg
feature_image_alt: Cash Bash Graphic
---

{% include nav/sub-nav-support.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
  <div class="row">
    <div class="col sub-nav__content--wrapper">
      <main>
        <div class="row facilities__row--bottom-margin">
          <div class="col">
            <h2 class="typography__h2">Cavaliers Baseball Alumni and Friends Golf&nbsp;Outing</h2>
            <div class="editable">
              <p>
                <strong>Date:</strong> Oct. 7, 2023<br>
                <strong>Time:</strong> Lunch at 11 a.m., tee off at Noon<br>
                <strong>Location:</strong> Kankakee Elks Country Club, 2283 Bittersweet Drive, St.&nbsp;Anne
              </p>
              <p>
                Calling all Cavaliers Baseball alumni, friends, and supporters! We are teeing up for a
                memorable day of golf, camaraderie and giving back. The outing is a perfect blend of sport,
                networking and supporting KCC baseball.
              </p>
              <h3 class="typography__h3">Thank you to our generous sponsors!</h3>
              <h4 class="typography__h4">Double</h4>
              <ul>
                <li>UPS</li>
              </ul>
              <h4 class="typography__h4">Single</h4>
              <ul>
                <li>Andy Lebamoff</li>
                <li>IBJI</li>
                <li>The Daily Journal</li>
              </ul>
              <h4 class="typography__h4">Hole Sponsors</h4>
              <ul>
                <li>Bill Handley</li>
                <li>Hoss Co.</li>
                <li>Jeff & Chris McKay</li>
                <li>Waylon Richardson</li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
