---
layout: default
baseurl: ../../
base: support
title: Cavaliers Baseball Alumni and Friends Golf Outing
description: "Kankakee Community College Cash Bash is an annual fundraising event, typically held in February."
body_class: page ## <landing|page>
include_datatables: false
include_gapi: false
include_sub-nav: false
feature_image: ../../uploads/cashbash.jpg
feature_image_alt: Cash Bash Graphic
---

{% include nav/sub-nav-support.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
  <div class="row">
    <div class="col sub-nav__content--wrapper">
      <main>
        <div class="row facilities__row--bottom-margin">
          <div class="col">
            <h2 class="typography__h2">{{ page.title }}</h2>
            <div class="editable">
            
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
