---
layout: stats-page
baseurl: ../../
title: Women's Basketball Stats
description: "Kankakee Community College Cavaliers Women's Basketball statistics."
base: womens-basketball
sub-nav_hidden: true
njcaa_stats:
  years: 
    - 2018-19
    - 2019-20
    - 2020-21
    - 2021-22
  prefix: http://njcaa.org/sports/wbkb/
  suffix: /div2/teams/kankakeecommunitycollege
  sport: Basketball
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col">
      <span id="page-top" class="link__offset" aria-hidden="true"></span>
      {% include stats-button-group.html %}
      <!-- Baseball statistics tabbed navigation -->
      <div id="data">
        {% include loader.html %}
      </div>
    </div>
  </div>
</section>
