@use '../0-tools/vars' as *;

html,
body {
  // Needed to eliminate horizontal scrolling on mobile devices
  overflow-x: hidden;
}

body.landing {
  background-color: $landing-bg;
}

body.page {
  background-color: $default-bg;
}
