---
layout: default
baseurl: ../
title: Baseball
season_preview: true
description: >-
  Official Baseball page for the Kankakee Community College Cavaliers. The
  Cavaliers play in NJCAA Divisioin II.
base: baseball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/baseball-1-Z91_5310.jpg
    alt-text: 'Baseball player #21 Andrew VanOeveren'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-pic-2.jpg
    alt-text: 'Baseball player #19 Patch Henderson'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-pic-3.jpg
    alt-text: 'Baseball player #24 Daniel Puplava'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-pic-4.jpg
    alt-text: 'Baseball player #5 Trever Walters'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-slider-5-JHD_3393.jpg
    alt-text: 'Baseball player #30 Braedan MacDonald'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-slider-6-JHD_3560.jpg
    alt-text: 'Baseball player #27 Brodi Winge'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-group-slider-7-DSC_0304.jpg
    alt-text: KCC Baseball Team
    url: http://www.kcc.edu
    text1: 'KCC Cavaliers '
    text2: BASEBALL TEAM
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>The Cavaliers enter the 2023 season with high expectations. The program has enjoyed recent success, including an NJCAA Division II National Championship in 2017. In 2022, the team finished with a 43-17 record and finished fourth in the Regional 4 Tournament. This spring, the team has plenty of talent, and is poised to make a run at a Region 4 Championship.</p>
          </div><br />
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>The game starts with pitching, and a young and inexperienced staff will be tested early. The returning players and sophomores will be expected to take the lead. The returning pitchers are Nick Barlow, Tanner Sobkoviak, and Trey Bryant; who will welcome transfers Zack Millsap and Will Frisch. Freshman arms will include left-handers Graham Kasey, Jackson Smith and Zack O’Donnell; and righties Ryan Norman, Brett Hecimovich, Aidan Nugent, Drew VanOeveren, Kaleb Waller, Lucuas Frank, Leroy Lepper and Luke Wolff.</p>
              <p>“We have competition on the pitching staff and as we continue our spring practices and get into the season, I feel the players will more clearly see their roles.” says Head Coach Todd Post “We have 7-8 potential starting pitchers and a group of arms that will be successful out of the bull pen. We need someone to step up in a closing role.”</p>
              <p>The roster is deep at the catching position with returner Hayden Stork and transfer Jack Snyder, along with freshmen Chris Suchoski and Caden Martin.</p>
              <p>The infield will be anchored by returning players Danny Puplava (1st base) and Andy Onnen (3rd base), who are both coming off outstanding freshman seasons. They are joined by transfer Trevor Walters and freshmen Gavin Noreus, Tyler Thompson, Connor Janik, and Gavin DeBerry</p>
              <p>The outfield consists of returners Poco Paulina—who has transitioned from short stop to center field—and Braedon MacDonald (left field), along with freshmen Curtis McKay, Cole Freeman, and Jairus Harris.</p>
              <p>“We are excited about our team and looking forward to getting this season started.” said Post. “Timely hitting, consistent pitching, and good defense are always the keys to winning in a very competitive Region 4 Tournament in May.”</p>
            </div>
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <!-- RESTORED BY WZ 9/25/20 & commented out via Jekyll comment the "TEMPORARY MESSAGE" below
          =================================================================== -->
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News  <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign baseball_posts = site.posts | where_exp: "item", "item.categories contains 'baseball' or item.categories contains 'general'" %}
              {% for post in baseball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
  
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
