---
layout: default
baseurl: ../
title: Baseball
season_preview: true
description: >-
  Official Baseball page for the Kankakee Community College Cavaliers. The
  Cavaliers play in NJCAA Divisioin II.
base: baseball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/baseball-1-Z91_5310.jpg
    alt-text: 'Baseball player #21 Andrew VanOeveren'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-2-Z91_6099.jpg
    alt-text: 'Baseball player #21 Andrew VanOeveren'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-3-Z91_6062.jpg
    alt-text: 'Baseball player #24 Daniel Puplava'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-4-Z91_6134.jpg
    alt-text: 'Baseball player #20 Gavin DeBerry'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-5-DSC_7497.jpg
    alt-text: 'Baseball player #7 Paco Paulina'
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-6-DSC_7608.jpg
    alt-text: 'Baseball team players cheering on each other. '
    url: '#'
    text1:
    text2:
  - image: /uploads/baseball-7-Z92_2466.jpg
    alt-text: KCC Baseball Team
    url: http://www.kcc.edu
    text1: 'KCC Cavaliers '
    text2: BASEBALL TEAM
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>The Cavaliers are gearing up for an exciting 2024 season, marked by significant changes and promising talent. With the retirement of Region 4 Hall of Fame Head Coach Todd Post, the team welcomes Bryce Shafer, a familiar face with eight years as an assistant, as the new head coach. The Cavaliers are building on a solid 2023 season, where they had a 34-22 record and finished fourth at the Region 4 Championship.</p>
          </div><br />
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>The pitching staff has exceptional promise this year. The staff is not only deeper, but brings a wealth of experience from the previous season. Graham Kasey, an Eastern Illinois commit, is set to lead the staff, supported by seasoned starters Aidan Nugent, Kaleb Waller, and Jackson Smith. Zach O'Donnell is expected to deliver significant innings from the bullpen, alongside closer Brett Hecimovich. Veterans Lucas Frank and Leroy Lepper will also be key contributors. Adding to this strength are talented newcomers, including sophomore transfer Hunter Niksch, who should bolster the starting rotation. Freshmen arms Peyton Niksch, Cole Martz, Tate Mullens, JJ Calmes, Jackson Peeler, Kolton Floor, and Brett Cook are ready to compete with Payton Knoll and Ben Carlile providing match-up options as lefties.</p>
              <p>"Our pitching staff this season is a mix of experienced sophomores and talented freshmen,” says Coach Shafer, signaling his confidence in the team's pitching depth. “It's time to compete."</p>
              <p> </p>
              <p>The roster is deep at the catching position with returner Hayden Stork and transfer Jack Snyder, along with freshmen Chris Suchoski and Caden Martin.</p>
              <p>The infield will be anchored by returning players Danny Puplava (1st base) and Andy Onnen (3rd base), who are both coming off outstanding freshman seasons. They are joined by transfer Trevor Walters and freshmen Gavin Noreus, Tyler Thompson, Connor Janik, and Gavin DeBerry</p>
              <p>The outfield consists of returners Poco Paulina—who has transitioned from short stop to center field—and Braedon MacDonald (left field), along with freshmen Curtis McKay, Cole Freeman, and Jairus Harris.</p>
              <p>“We are excited about our team and looking forward to getting this season started.” said Post. “Timely hitting, consistent pitching, and good defense are always the keys to winning in a very competitive Region 4 Tournament in May.”</p>
            </div>
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <!-- RESTORED BY WZ 9/25/20 & commented out via Jekyll comment the "TEMPORARY MESSAGE" below
          =================================================================== -->
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News  <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign baseball_posts = site.posts | where_exp: "item", "item.categories contains 'baseball' or item.categories contains 'general'" %}
              {% for post in baseball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
  
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
