---
layout: default
baseurl: ../
title: Baseball
season_preview: true
description: >-
  Official Baseball page for the Kankakee Community College Cavaliers. The
  Cavaliers play in NJCAA Divisioin II.
base: baseball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
include_facebook_sdk: true
slides:
  - image: /uploads/baseball1-cropped.jpg
    alt-text: 'Baseball player #11 Cole Martz'
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball2-cropped.jpg
    alt-text: 'Baseball player #15 Cooper Ohlson'
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball3-cropped.jpg
    alt-text: 'Baseball player #10 Dillon Romano'
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball4-cropped.jpg
    alt-text: 'Baseball player #31 Clay Gadbois'
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball5-cropped.jpg
    alt-text: 'Baseball player #24 Amarion Paxton'
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball6-cropped.jpg
    alt-text: Baseball player catcher
    url: '#'
    text1: '2025'
    text2: Baseball
  - image: /uploads/baseball7-cropped.jpg
    alt-text: 'Baseball player #33 Nolan McCrossin'
    url: '#'
    text1: '2025'
    text2: Baseball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
      <div class="row mb-2{% if page.season_preview == false %} editor-content{% endif %}">
        <div class="col">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
          <div class="season-preview__content-bg">
            <div class="editable">
              <p>The Cavaliers enter the 2026 season with a chip on their shoulders after a memorable 2025 campaign that ended just short of an at-large national tournament bid. After finishing <strong>46-10</strong>, and climbing to <strong>No. 8 </strong>in the country, going to Enid is still the standard and the target. The Cavs are more motivated than ever to earn their way back to the national tournament.</p>
            </div>
            <div id="collapsePreview" class="collapse">
              <div class="editable">
                <p>Repeating last year&rsquo;s pitching success won&rsquo;t be easy after losing two of the most reliable arms in the country. <strong>Peyton Niksch</strong>, now signed with the <strong>Milwaukee Brewers</strong>, and <strong>Cole Martz</strong> (St. Xavier University) leave behind sub-2.00 ERAs and a massive footprint on the staff.</p>
                <p>Head Coach <strong>Bryce Shafer</strong> believes this group can be special, just in a different way.</p>
                <p>Three starters have proven big inning experience. <strong>Clay Gadbois</strong>, <strong>Kollin Asbury</strong> and <strong>Maddox Quesnelle</strong> are all ready to anchor the early season. <strong>Joe Catalano</strong> is shifting from the closer role into the rotation, where he&rsquo;s looking to lead with both his stuff and his presence. KCC will have plenty of depth from spot starters and a high-leverage bullpen. Two-way threats <strong>Lucas Rink</strong> and <strong>Hank Vandermeer</strong> give the staff even more flexibility, capable of providing starts or late-inning outs when the moment demands it.</p>
                <p><strong>Dominic Panozzo</strong>, <strong>Caleb Clutteur</strong> and <strong>Chase Harrison</strong> are all pushing for major roles to finish games, while sophomores <strong>Trevor Syer</strong> and <strong>Zach Wilson</strong> return after valuable bullpen innings in 2025. <strong>Carter Ponton</strong>, <strong>Luke Gallet</strong> and <strong>Ben Kiracofe</strong> are also competing for key spots. <strong>Easton Blankenship</strong> and <strong>Caden Keleminic</strong> offer additional options as starters or impactful weapons out of the pen. Relievers <strong>Trey Harney</strong> and <strong>Alex Bielfeldt</strong> also add depth, giving the Cavs even more flexibility as roles take shape.</p>
                <p>Offensively, six starters graduated, and a revamped lineup has opportunities everywhere. The transfer sophomores who are ready to make noise immediately are catcher<strong> Connor Gaitens</strong>, first baseman<strong> Hank Vandermeer</strong>, and catcher<strong> Levi Hirst</strong>. They all have power bats expected to impact the lineup from day one.</p>
                <p>Returning with starting experience, utility<strong> Thomas Offill</strong>, third baseman<strong> Jack Vogt</strong>, and first baseman<strong> Trey Blanchette</strong> provide needed stability to a group that will feature plenty of new faces. <strong>Charles Cambridge</strong> adds another option at third base, while <strong>Easton Urban</strong> brings depth and versatility as an infielder.</p>
                <p>A talented freshman class will be counted on to grow up fast. Infielders <strong>Layson Fabisiak</strong>, <strong>Drew Stabler</strong>, <strong>Lucas Rink</strong>, and <strong>Gabe McHugh</strong> are all competing for innings. The outfield competition is just as wide open, with <strong>Josh Davis</strong>, <strong>Matt Swartz</strong>, <strong>Deegan Aeilts</strong>, <strong>Layson Fabisiak</strong>, <strong>JJ Gillespie</strong>, and <strong>Lucas Rink</strong> provide flexibility and athleticism. <strong>Angel Nelson</strong> also gives the Cavs another outfield option as the lineup takes shape.</p>
                <p>&ldquo;This is the most competitive offseason I have been a part of at KCC,&rdquo; Coach Shafer said. &ldquo;There are a lot of unknowns and innings up for grabs in the lineup this spring. I am excited to watch the guys continue to compete and see who rises to the top. We have the deepest pitching staff that we&rsquo;ve had in a while but will need inexperienced guys to step up and throw impactful innings for us.&rdquo;</p>
                <p>While the lineup may feature more power than in past seasons, the Cavaliers remain rooted in a pitching-and-defense-first philosophy. That identity will guide the early season as the new pieces settle in. With disappointment from 2025 still driving daily urgency, the mission is clear: keep developing, keep competing, and earn a postseason opportunity.</p>
                <p>The Cavaliers are excited to get started. 2026 is set up to be a fast, competitive, and hungry season for the Cavs.</p>
              </div>
            </div>
          </div>
          <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
      <div class="row schedule-row">
        <div class="col-md-12">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
          <a class="btn btn-primary mb-3 ms-2" href="/stream-games/">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
          <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
            {% include loading-slider.html %}
          </div>
        </div>
      </div>
      <div class="row news-social-row">
        <div class="col-md-8 news-feed">
          <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News  <a href="{{ page.baseurl }}baseball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
            <div class="news__scroll">
              <ul class="news__list">
                {% assign baseball_posts = site.posts | where_exp: "item", "item.categories contains 'baseball' or item.categories contains 'general'" %}
                {% for post in baseball_posts limit: 7 %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endfor %}
              </ul>
              <div class="text-center mb-3">
                <a href="{{ page.baseurl }}baseball/news/" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
          {% include facebook-widget.html %}
        </div>
      </div>
    
  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset">
          <img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches
        </h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
