---
layout: default
baseurl: ../
title: Men's Basketball
season_preview: true
description: >-
  Official Men's Basketball page for the Kankakee Community College Cavaliers. 
  The Cavaliers play in NJCAA Division I, Region 4.
base: mens-basketball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/mbasketball-1-Z92_3745.jpg
    alt-text: Men's basketball team
    url: '#'
    text1: 2022-2023
    text2: Men's Basketball
  - image: /uploads/dsc8868.jpg
    alt-text: Men's basketball
    url: '#'
    text1: 2021-2022
    text2: Men's Basketball
  - image: /uploads/mbasketball-no11.jpg
    alt-text:
    url: '#'
    text1: Sophomore
    text2: A’ Kieon Gill
  - image: /uploads/basketball court.jpg
    alt-text:
    url:
    text1:
    text2: George H. Ryan Gymnasium
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
          <p>The KCC men&rsquo;s basketball program will look to keep last year&rsquo;s momentum going. Second year Head Coach Michael Brown has brought in student-athletes from seven states, plus an international recruit.</p>
          <p>&ldquo;Every year we target guys that are the right fit for our program and our institution,&rdquo; Brown said. &ldquo;It is a fun group that brings versatility, toughness, and the type of mentality we need to be successful. We want to be disciplined, unselfish and playing together. We want to get back to the region championship game.&rdquo;</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
            <p>This year&rsquo;s team will feature five freshmen and seven sophomores. Four players are returning from last year&rsquo;s NJCAA All-Academic Team which also placed as the Div. I Region IV Runner-up team.</p>
            <p>On the wing, Isaiah Placide (6&rdquo; 5&rdquo;; Atlanta, Georgia) is an all-around player who averaged 12 points and 5.7 rebounds last season while shooting 39% on 3-pointers. Josh Holmes (6&rsquo;3&rdquo;, Chicago) averaged 6 points and 3 rebounds last season while shooting 3 pointers at a 39% clip. He is a versatile guard who will be counted on for his shooting, defense, and toughness. Robert Stroud (6&rsquo;6&rdquo;, Danville) is an athletic do-it-all forward who will help the Cavs again this season. Last season, Stroud averaged 8 points and 4 rebounds per game. Kason Williams (6&rsquo;0&rdquo;; Montgomery, Alabama) is a guard who improved in the off-season and will look to increase his role. Williams is a smart player with natural ability to make plays for himself and others.&nbsp;</p>
            <p>There are eight new faces to the Cavs roster. Sean Black (Indianapolis) is a quick and athletic guard who transferred from Iowa Western College, where he averaged 10 points and 3 assists per game last season. Noah Mason (6&rsquo;7&rdquo;; Humble, Texas) is a skilled forward who brings versatility with his ability to play inside and outside on the perimeter. Wing Amari Jones (6&rsquo;6&rdquo;; Asbury Park, N.J.) is a smooth multi-position player who can affect the game in a variety of ways. Guard Cha&rsquo;vez Woods (6&rsquo;2&rdquo;, Louisville) brings outside shooting, athleticism, and toughness to the program.&nbsp;</p>
            <p>Rashad Smith (6&rsquo;7&rdquo;, Atlanta) is an athletic combo forward who can dribble, pass and shoot. Jaelyn Anderson (6&rsquo;2&rdquo;, Atlanta) is a combo guard who provides play making, scoring and defense. Jamonte Smith (6&rsquo;0&rdquo;; Roanoke, Virginia) is an extremely quick player who provides the team with another option at guard. His abilities include defense and making plays for himself and others.&nbsp; Guard Antonin Tukilonga (6&rsquo;4&rdquo;, Canada) is a strong and athletic player who provides the Cavs with depth and outside shooting.</p>
            <p>The 2022-23 schedule has the Cavs facing off against tough Region IV opponents as well as road matchups with Vincennes University, Mineral Area College, and Indian Hills C.C.</p>
            <p>The coaching staff and players are excited about the upcoming season and hope that fans will come out and support the team.</p>
            <p>&nbsp;</p>
          </div><br />
        </div>
        <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>

<!--  "Upcoming Games" slider  -->
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games
          <!-- <a href="{{ page.baseurl }}mens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> -->
        </h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <!--  News rollup  -->
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign mbball_posts = site.posts | where_exp: "item", "item.categories contains 'mens-basketball' or item.categories contains 'general'" %}
              {% for post in mbball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <!--  Social Media  -->
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
