---
layout: default
baseurl: ../
title: Men's Basketball
season_preview: true
description: >-
  Official Men's Basketball page for the Kankakee Community College Cavaliers. 
  The Cavaliers play in NJCAA Division I, Region 4.
base: mens-basketball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/basketball-1-Z92_1944.jpg
    alt-text: Men's basketball team
    url: '#'
    text1: 2023-2024
    text2: Men's Basketball
  - image: /uploads/mbasketball-2-DSC_9507.jpg
    alt-text: 'Basketball player #24 Rashad Smith'
    url: '#'
    text1: 2022-2023
    text2: Men's Basketball
  - image: /uploads/mbasketball-3-DSC_9382.jpg
    alt-text: 'Basketball player #5 Amari Jones'
    url: '#'
    text1: 2022-2023
    text2: Men's Basketball
  - image: /uploads/mbasketball-4-DSC_9144.jpg
    alt-text: 'Basketball player #32 Noah Mason'
    url: '#'
    text1: 2022-2023
    text2: Men's Basketball
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
          <p>The KCC men’s basketball program will look to keep the program’s momentum going this season with a new group of players. Third year Head Coach Michael Brown has brought in student-athletes from six states to go along with four recruits from Illinois.</p>
          <p>“Every year, we target guys who are the right fit for our program and our institution,” Brown said. “It is a fun group that brings versatility, toughness, and the type of mentality we need to be successful. We want to be disciplined, unselfish, and playing together. Our goal is to compete for championships.”</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
            <p>This year’s team will feature six freshmen and nine sophomores. There are four returners from last year’s team.</p>
            <p>Skilled forward Noah Mason (6’7”, from Humble, Texas) returns for the Cavs after averaging 9 points and 4 rebounds last season with 41 three-pointers. He can play inside and outside on the perimeter. Guard Cha’vez Woods (6’3”, from Louisville, Kentucky) averaged 6 points and 2 rebounds last season. He is a versatile player, with three level scoring, and will see his role increase this season. Rashad Smith (6’7”, from Atlanta, Georgia) is an athletic combo forward who can dribble, pass and shoot. He saw action in 24 games last season while shooting 40% from deep. Guard Jamonte Smith (6’, from Roanoke, Virginia) is an extremely quick player and will provide the team with leadership and experience from 27 games last season. He has elite defensive skills with the ability to make plays for himself and others offensively.&nbsp;</p>
            <p>There are 11 new faces to the Cavs roster. Forward Lucas Burton (6’8”, from Houston, Texas) is an athletic player with size who can dribble, pass, and shoot. Forward Joshua Ray (6’6”, from Atlanta, Georgia) is a high energy player with superior athleticism and toughness. Khylan Mckennie (6’1”, from Atlanta, Georgia) is a combo guard who provides play making, scoring, and defense. Guard Dwain Nash (6’2”, from Chicago) is a smooth multi-positional player who can affect the game in a variety of ways. Tyrell Smith (6’4”, from Tampa, Florida) is a big guard who brings shooting and athleticism to the program. Wing Christian Martin-Johnson (6’4”, from Las Vegas) is a skilled player who gives the team versatility with his ability to play inside and outside on the perimeter. Fabian DeSilva (6’5”, from Atlanta, Georgia) is an athletic do-it-all wing who will help this season. &nbsp;</p>
            <p>Guard Quesim Anderson (5’9”, from Atlanta, Georgia) brings quickness, playmaking, and shooting to the Cavs. Guard Donovan Juzang (6’2”, from Matteson) brings a strong work ethic along with outside shooting and playmaking. Forward Genesis English (6’7”, from Chicago) is a physical forward who will strengthen the interior with defense and rebounding. Jaden Walls (5’7”, from Kankakee) gives the team another option at the guard position with his ability to make plays for himself and others.</p>
            <p>The 2023-24 schedule has the Cavs facing off against tough Region IV opponents as well as matchups with Vincennes University, Southeastern Iowa C.C., Mineral Area College, and Indian Hills C.C.</p>
            <p>The coaching staff and players are excited about the upcoming season and hope that fans will come out and support the team.</p>
          </div><br />
        </div>
        <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>

<!--  "Upcoming Games" slider  -->
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games
          <!-- <a href="{{ page.baseurl }}mens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> -->
        </h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <!--  News rollup  -->
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign mbball_posts = site.posts | where_exp: "item", "item.categories contains 'mens-basketball' or item.categories contains 'general'" %}
              {% for post in mbball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}mens-basketball/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <!--  Social Media  -->
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
