---
layout: default
baseurl: ../
title: Men's Basketball
season_preview: true
description: >-
  Official Men's Basketball page for the Kankakee Community College Cavaliers. 
  The Cavaliers play in NJCAA Division I, Region 4.
base: mens-basketball
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/mbb-team2.JPG
    alt-text: '2025 Men''s basketball team '
    url: '#'
    text1: 2025-2026
    text2: Men's Basketball
  - image: /uploads/mbb-team1.JPG
    alt-text: Men's basketball team 25-26
    url: '#'
    text1: 2025-2026
    text2: Men's Basketball
  - image: /uploads/men-basketball-2-cropped.jpg
    alt-text: 'Men''s Basketball player #2 Khylan McKennie'
    url: '#'
    text1: 2024-2025
    text2: Men's Basketball
  - image: /uploads/men-basketball-3-cropped.jpg
    alt-text: 'Men''s basketball player #1 Jamonte Smith'
    url: '#'
    text1: 2024-2025
    text2: Men's Basketball
  - image: /uploads/men-basketball-4-cropped.jpg
    alt-text: 'Basketball player #24 Santana Flowers'
    url: '#'
    text1: 2024-2025
    text2: Men's Basketball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
    <div class="row mb-2{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p> KCC men’s basketball will look to keep the program’s momentum going this season with a new group of players. Heading into his 5th year, Head Coach Michael Brown has retooled the roster with student-athletes from six states, along with four Illinois recruits.</p>
            <p>“We have had success targeting young men who are the right fit for our program and our institution,” Brown said. “This is a good group of people that brings versatility, size, and athleticism. As always, we want to be disciplined, unselfish, and playing together. If we can focus on our daily habits and mentality, we will be able to compete for a championship again.” </p>
          </div>
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>This year’s team features seven freshmen and seven sophomores. There are three returners from last year’s Region 4 Runner-up team.</p>
              <p>Santana Flowers (6’5” from Sauk Village) returns to the Cavs after starting 30 games with averages of 8 points and 5.5 rebounds. He is an athletic combo forward who competes extremely hard and finishes everything in the paint. Ricardo Corvil (6’4” from Broward, Florida) also returns after seeing action in all 33 games last season with averages of 7 points and 5 rebounds. He is a high-level rebounder, defender, and finisher. Jervens St. Louis (6’4” from Naples, Florida) is an athletic do-it-all wing who will see an increased role this season. He saw action in 16 games last season.</p>
              <p>There are 11 new faces on the Cavs roster. Guard Nashawn Holmes (6’4” from Chicago) has natural scoring ability and aggressive defense. Adrien Armstrong (6’4” from Phoenix) is a big guard who brings athleticism and the ability to make shots. Guard Rashad Fenner (6’2” from Milwaukee) has good feel with the ability to make plays for himself and others offensively. </p>
              <p>Jabari Lee (6’7” from Milwaukee) brings energy, grit, and toughness to the team. Guard Tion Wright (6’1” from Phoenix) brings quickness, playmaking, and athleticism to the Cavs. Forward Ali Mbaye (6’7” from Chicago) is a skilled player who gives the team versatility with his ability to play inside and outside on the perimeter.</p>
              <p>Jalen Howard (6’3” from Atlanta) has excellent defensive skills with excellent athleticism and speed. Guard Aziz Sutton-Shorter (6’1” from Orange, N.J.) provides the Cavs with outside shooting, ball handling, and quickness. Bryant Hedrick (6’0” from Chicago) is a combo guard who will provide play-making and scoring. Forward Elijah Odukoya (6’7” from Atlanta) will strengthen the interior with defense and rebounding. Wing/forward Tahmar Mann (6’6” from Clarkson, Georgia) is a skilled player who brings outside shooting to the Cavs.</p>
              <p>The 2025-26 schedule has the Cavs facing off against tough Region IV opponents as well as matchups with Vincennes University, Southeastern Iowa C.C., John A. Logan College, and Indian Hills C.C.</p>
              <p>The coaching staff and players are excited about the upcoming season and hope that fans will come out and support the team.</p>
              <p> </p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>

  <!--  "Upcoming Games" slider  -->
      <div class="row schedule-row">
        <div class="col-md-12">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games
            <!-- <a href="{{ page.baseurl }}mens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> -->
          </h2>
          <a class="btn btn-primary mb-3 ms-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
          <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
            {% include loading-slider.html %}
          </div>
        </div>
      </div>
      <div class="row news-social-row">
        <!--  News rollup  -->
        <div class="col-md-8 news-feed">
          <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}mens-basketball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
            <div class="news__scroll">
              <ul class="news__list">
                {% assign mbball_posts = site.posts | where_exp: "item", "item.categories contains 'mens-basketball' or item.categories contains 'general'" %}
                {% for post in mbball_posts limit: 7 %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endfor %}
              </ul>
              <div class="text-center mb-3">
                <a href="{{ page.baseurl }}mens-basketball/news/" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </div>
        <!--  Social Media  -->
        <div class="col-md-4">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
          {% include facebook-widget.html %}
        </div>
      </div>
  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
