---
layout: default
baseurl: ../
title: Soccer
season_preview: true
description: >-
  Official Men's Soccer page for the Kankakee Community College Cavaliers.  The
  Cavaliers play in NJCAA Division II, Region 4.
base: soccer
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/men-soccer-_DSC8063.jpg
    alt-text: 'Men''s soccer game player #24'
    url: '#'
  - image: /uploads/men-soccer-2-_DSC8438.jpg
    alt-text: 'Men''s soccer goalie catches the ball with player #28 and player #2 present'
    url: '#'
  - image: /uploads/men-soccer-3-_DSC8103.jpg
    alt-text: 'Men''s soccer player #9 Malachai Jabari Daniel '
    url: '#'
  - image: /uploads/men-soccer-4--dsc8328.jpg
    alt-text: 'Men''s soccer player #4 Nathaniel Brown'
    url: '#'
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>The shortened 2020 season due to COVID-19 proved to be a formidable test for the young Cavaliers, who faced six teams ranked in the Top 10 during the 10-game campaign.</p>
          </div> <div id="collapsePreview" class="collapse"><div class="editable">
  <p>&ldquo;We feel that our returning players are going to be well-prepared for the rigors of the new season,&rdquo; said Head Coach Mike Barclay. &ldquo;With the addition of numerous top local players that we have added this year, the future looks very bright!&rdquo;</p>
  <p>The team looks to continue its success in the classroom. For two consecutive seasons, the Cavaliers have earned the honor of being named as an NJCAA &ldquo;Academic Team of the Year,&rdquo; after earning a team Grade Point Average above 3.0 on a 4.0 scale. For this 2021-22 year, the Cavs will again aim to meet this high academic standard.</p>
</div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games
          <!-- <a href="{{ page.baseurl }}soccer/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> -->
          </h2>
          <a class="btn btn-primary ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}soccer/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign soccer_posts = site.posts | where_exp: "item", "item.categories contains 'soccer' or item.categories contains 'general'" %}
              {% for post in soccer_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}soccer/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
