---
layout: default
baseurl: ../
title: Softball
description: >-
  Official Softball page for the Kankakee Community College Cavaliers.  The
  Cavaliers play in NJCAA Division II, Region 4.
base: softball
season_preview: true
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/softball1-cropped.jpg
    alt-text: 'Softball player #22 Jordyn Butcher as pitcher'
    url: '#'
    text1: '2025'
    text2: Lady Cavaliers
  - image: /uploads/softball2-cropped.jpg
    alt-text: 'Softball player #3 Brittyn Bailey hitting the ball'
    url: '#'
    text1: '2025'
    text2: Cavaliers Softball
  - image: /uploads/softball3-cropped.jpg
    alt-text: Softball catcher
    url: '#'
    text1: '2025'
    text2: Lady Cavaliers
  - image: /uploads/softball-team.jpg
    alt-text: Softball Team 2024-2025 Season
    url: '#'
    text1: 2024-25
    text2: Cavaliers Softball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
      <div class="row mb-2{% if page.season_preview == false %} editor-content{% endif %}">
        <div class="col">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
          <div class="season-preview__content-bg">
            <div class="editable">
              <p>Fresh off a stellar 44–16 campaign in 2025, the Lady Cavs enter the 2026 season with momentum, confidence, and unfinished business. The program is poised to build on a strong run in Region 4, and continue establishing itself as a premier contender. </p>
              <p>While last season’s accomplishments set a high bar, this year’s squad will have a new look.</p>
            </div>
            <div id="collapsePreview" class="collapse">
              <div class="editable">
                <p>The Lady Cavs welcome 14 newcomers, bringing energy, versatility, and competition to every position on the diamond. With so many fresh faces, early-season chemistry and development will be key, but the talent level suggests the transition could be an exciting one. </p>
                <p>Anchoring the team will be a strong core of sophomores who understand the expectations, the grind of a full season, and what it takes to compete deep into postseason play. They will provide stability and help integrate newcomers into the program’s culture and system. </p>
                <p>The 2026 Lady Cavs may feature new names, but the standard remains the same. Led by experienced sophomores and a dynamic incoming class, the team carries momentum from a 44-win season. Focused on taking the next step in Region 4, they are ready to turn potential into another memorable spring.</p>
              </div>
            </div>
          </div>
          <button class="btn btn-primary float-end season-preview__btn--more js-more-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
      <div class="row schedule-row">
        <div class="col-md-12">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}softball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
          <a class="btn btn-primary mb-3 ms-2" href="/stream-games/">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
          <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
            {% include loading-slider.html %}
          </div>
        </div>
      </div>
      <div class="row news-social-row">
        <div class="col-md-8 news-feed">
          <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}softball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
            <div class="news__scroll">
              <ul class="news__list">
                {% assign softball_posts = site.posts | where_exp: "item", "item.categories contains 'softball' or item.categories contains 'general'" %}
                {% for post in softball_posts limit: 7 %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endfor %}
              </ul>
              <div class="text-center mb-3">
                <a href="{{ page.baseurl }}softball/news/" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
          {% include facebook-widget.html %}
        </div>
      </div>
    

  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
