---
layout: default
baseurl: ../
title: Softball
description: >-
  Official Softball page for the Kankakee Community College Cavaliers.  The
  Cavaliers play in NJCAA Division II, Region 4.
base: softball
season_preview: true
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/softball1-cropped.jpg
    alt-text: 'Softball player #22 Jordyn Butcher as pitcher'
    url: '#'
    text1: '2025'
    text2: Lady Cavaliers
  - image: /uploads/softball2-cropped.jpg
    alt-text: 'Softball player #3 Brittyn Bailey hitting the ball'
    url: '#'
    text1: '2025'
    text2: Cavaliers Softball
  - image: /uploads/softball3-cropped.jpg
    alt-text: Softball catcher
    url: '#'
    text1: '2025'
    text2: Lady Cavaliers
  - image: /uploads/softball-3-Z92_4562.jpg
    alt-text: Softball Team 2023-2024 Season
    url: '#'
    text1: 2023-24
    text2: Cavaliers Softball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
      <div class="row mb-2{% if page.season_preview == false %} editor-content{% endif %}">
        <div class="col">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
          <div class="season-preview__content-bg">
            <div class="editable">
              <p>The 2025 Cavaliers softball program is coming off a 43-8 season in 2024, a season best record under Coach Cooper.</p>
              <p>They look to make their mark on the 2025 season with a schedule that includes Region 23 powerhouses of Jones College,
                Pearl River, Mississippi Gulf Coast, and Copiah-Lincoln; Region 12’s Lansing, Region 8’s D-I Pensacola State; Region
                16’s St. Louis; Region 24’s Parkland and Danville; as well as Region 4 rivals Rock Valley, Madison, Bryant & Stratton,
                and Triton.</p>
            </div>
            <div id="collapsePreview" class="collapse">
              <div class="editable">
                <p>The team is balanced between experience and fresh talent, with nine sophomores and nine freshmen. As winners of 24 of
                  the last 32 Region IV Championships, the Cavs expect to be a strong contender to win their 25th NJCAA D-II Region 4
                  Championship and make a trip to the National Tournament.</p>
                <p>The Cavaliers will depend on the strong play and leadership of the sophomores and look to the freshmen to quickly
                  learn and gain experience to contribute.</p>
                <p>With dependable hitting, power, and speed as well as some top returning pitching, the Cav’s are expected to compete
                  in a tough Region IV once again.</p>
                <p class="mb-1">Winning Culture</p>
                <ul>
                  <li>44 All-Americans</li>
                  <li>49 Academic All-Americans</li>
                  <li>All-time record - 1565-528-3</li>
                  <li>45 winning seasons in 47 years</li>
                  <li>25 consecutive NJCAA Region 4 Final Four finishes</li>
                  <li>Top 5 in the Nation 11 times</li>
                  <li>National Champions in 2015</li>
                </ul>
              </div>
            </div>
          </div>
          <button class="btn btn-primary float-end season-preview__btn--more js-more-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
      <div class="row schedule-row">
        <div class="col-md-12">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <!-- <a href="{{ page.baseurl }}softball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
          <a class="btn btn-primary mb-3 ms-2" href="/stream-games/">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
          <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
            {% include loading-slider.html %}
          </div>
        </div>
      </div>
      <div class="row news-social-row">
        <div class="col-md-8 news-feed">
          <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}softball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
            <div class="news__scroll">
              <ul class="news__list">
                {% assign softball_posts = site.posts | where_exp: "item", "item.categories contains 'softball' or item.categories contains 'general'" %}
                {% for post in softball_posts limit: 7 %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endfor %}
              </ul>
              <div class="text-center mb-3">
                <a href="{{ page.baseurl }}softball/news/" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
          {% include facebook-widget.html %}
        </div>
      </div>
    

  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
