---
layout: default
baseurl: ../
base: support
title: Support Athletics
description: >-
  You can make a difference in a student-athlete's life. There are several ways 
  to contribute to Kankakee Community College Athletics.
body_class: landing ## <landing|page>
include_datatables: false
include_gapi: false
include_sub-nav: false
---

{% include nav/sub-nav-support.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <main>
        <h2 class="typography__h2">{{ page.title }}</h2>
        <div class="editable">
            <p>The Kankakee Community College Athletics programs give students the opportunity to develop athletic skills at the same time they pursue academic success. This establishes a foundation of physical and mental well-being that student-athletes can build on for a lifetime.</p>
            <p>You can make a difference in a student-athlete's life with your generous contribution to KCC Athletics. Your donation will help keep these opportunities open, giving our student athletes their best chance to achieve athletic and academic success.</p>
            <p>There are a variety of ways you can contribute:</p>
            <p><a href="/support/cash-bash/">Cash Bash</a><br><a href="/support/cavalier-club/">Cavalier Club</a><br><a href="/support/donate/">Donate</a></p>
        </div>
      </main>
    </div>
  </div>
</div>

