---
layout: default
baseurl: ../
title: Volleyball
season_preview: true
description: >-
  Official Volleyball page for the Kankakee Community College Cavaliers.  The
  Cavaliers play in NJCAA Division II, Region 4.
base: volleyball
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/volleyball-2025_DSC_3614.jpg
    alt-text: 2025 Lady Cavaliers
    url: '#'
    text1: 2025
    text2: Lady Cavaliers
  - image: /uploads/volleyball-2025_DSC_3565.jpg
    alt-text: 2025 Lady Cavaliers
    url: '#'
    text1: 2025
    text2: Lady Cavaliers
  - image: /uploads/volleyball-24-25-one-cropped.jpg
    alt-text: 2024-25 Volleyball player Andrijana Cicvaric
    url: '#'
    text1: Lady Cavaliers
    text2: 2024 KCC Volleyball
  - image: /uploads/volleyball-24-25-two-cropped.jpg
    alt-text: 2024 Lady Cavaliers
    url: '#'
    text1: 2024
    text2: Lady Cavaliers
  - image: /uploads/volleyball-24-25-four-cropped.jpg
    alt-text: Volleyball player hitting the ball in the air
    url: '#'
    text1: Lady Cavaliers
    text2: 2024 KCC Volleyball
  - image: /uploads/volleyball-24-25-five-cropped.jpg
    alt-text: 'Volleyball player #13 Tinsley Freeman'
    url: '#'
    text1: Lady Cavaliers
    text2: 2024 KCC Volleyball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
    <div class="row mb-2{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>A new chapter begins for the Lady Cavs for 2025, as the program welcomes Head Coach Jill Morgan and Assistant Coach Marty Walters. With a mix of returning experience and promising new talent, the Cavaliers are looking to continue their momentum in the competitive Region 4.</p>
            <p>“I'm excited to build something special here,” said Coach Morgan. “The foundation is in place with our returners, and we have added some hungry, talented new comers who are ready to step in and compete."</p>
          </div>
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>The team brings back six players from last season, including red shirt Emily Cockream, providing a solid foundation
                for the incoming class. Leading the charge are sophomores Kennedi Huston, a standout OH known for her vocal
                leadership, all-around play and ability at any position; and Libby Green, from Kankakee, a right side hitter with a
                powerful presence at the net and the ability to cover all aspects of the court. Joining them is Martina Rivolta, a
                dynamic setter from Italy, who's expected to be a key piece in the team's evolving offense. Also returning is our
                libero, Andrijana Cicvaric from Serbia, who will step back into her role of reading opposing offenses. Rounding out
                our talented returners is MB Alyssa Johnston, a pivotal player with ability to find the open spot.</p>
              <p>Together, the returning players offer continuity, chemistry, and a sense of stability as the program transitions
                under new leadership.</p>
              <p>Coach Morgan brought in an exciting class of newcomers, who bring athleticism, versatility, and a hunger to prove
                themselves.</p>
              <p>Janice Jackson a 5'11" MB from Kankakee is impressive with her command at the net and power in her serve. Local
                talents, and twin sisters, Ana and Alyssa Pignatiello look to make their presence known in Region 4 play, providing
                even more power and options at the net! Kendyl Christon is also a local who will bring versatility at all positions.
                Defensive specialists Maddie Casino and Nature Shelburn will provide court awareness and grit to the Cavs defense.</p>
              <p>“This group has come in ready to work! Coach Morgan said. "They are learning quickly and adapting to this new level
                of play. They are pushing our returners in the gym and it will be a fun year watching them work together on the
                court.”</p>
              <p>The Cavs open up their season at the OWT tournament in Rockford facing some tough competition before Region 4 play
                begins. It will be a crucial early test for a team still learning each other's rhythms. With region play right around
                the corner, Coach Morgan is focused on building a gritty, accountable, and relentless team.</p>
              <p>“This is about building a foundation," Coach Morgan said. "We want to be the team everyone talks about: competitive
                on every point, tough defensively, scrappy, together in every huddle and playing with a passion to show that Lady
                Cavaliers volleyball is on the rise."</p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
      <div class="row schedule-row">
        <div class="col-md-12">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="" aria-hidden="true" />&nbsp;Upcoming Games</h2>
          <a class="btn btn-primary mb-3 ms-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
          <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
          <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
            {% include loading-slider.html %}
          </div>
        </div>
      </div>
      <div class="row news-social-row">
        <div class="col-md-8 news-feed">
          <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}volleyball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
            <div class="news__scroll">
              <ul class="news__list">
                {% assign volleyball_posts = site.posts | where_exp: "item", "item.categories contains 'volleyball' or item.categories contains 'general'" %}
                {% for post in volleyball_posts limit: 7 %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endfor %}
              </ul>
              <div class="text-center mb-3">
                <a href="{{ page.baseurl }}volleyball/news/" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
          {% include facebook-widget.html %}
        </div>
      </div>
  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
