---
layout: default
baseurl: ../
title: Volleyball
season_preview: true
description: >-
  Official Volleyball page for the Kankakee Community College Cavaliers.  The
  Cavaliers play in NJCAA Division II, Region 4.
base: volleyball
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/lady-cavs-22-1-DSC_6669.jpg
    alt-text: 'Volleyball player #14 Mikhayla Wright hitting the ball mid air.'
    url: '#'
    text1: 2022
    text2: Lady Cavaliers
  - image: /uploads/lady-cavs-22-2-DSC_6284.jpg
    alt-text: 'Volleyball player #12 Tawnee Tubbs hitting the ball from under.'
    url: '#'
    text1: Lady Cavaliers
    text2: 2022 KCC Volleyball
  - image: /uploads/lady-cavs-22-3-DSC_6442.jpg
    alt-text: 'Volleyball player #1 Gianne Basile'
    url: '#'
    text1: Lady Cavaliers
    text2: 2022 KCC Volleyball
  - image: /uploads/lady-cavs-22-4-DSC_6456.jpg
    alt-text: >-
      Volleyball players on the offense with one player hitting the ball over
      the net. 
    url: '#'
    text1: Lady Cavaliers
    text2: 2022 KCC Volleyball
  - image: /uploads/basketball court.jpg
    alt-text:
    url: '#'
    text1:
    text2: George H. Ryan Gymnasium
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
  <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
          <p>The Cavaliers volleyball team enters the 2022 season with a new head coach, six returning players and five new faces. The team has faced a lot of adversity already as a team, but have adapted well and is overcoming obstacles a lot of teams don't have to endure their first week.</p>
        </div> <div id="collapsePreview" class="collapse"><div class="editable">
  <p>"When you raise the level of expectations, true athletes will rise up and meet or exceed them,&rdquo; Coach Thompson said. &ldquo;The key factors in driving your success and building a sound foundation for your future, are consistency, accountability, respect, discipline and structure." Coach Thompson is in her first year at KCC, and is assisted by Coach Jennifer Ostrowski. They bring a lot of knowledge, passion and energy to the game and are excited to be working together this season.</p>
</div><br /></div><button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>
  </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="" aria-hidden="true" />&nbsp;Upcoming Games</h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}volleyball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign volleyball_posts = site.posts | where_exp: "item", "item.categories contains 'volleyball' or item.categories contains 'general'" %}
              {% for post in volleyball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}volleyball/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="" />&#160;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
