---
layout: default
baseurl: ../
title: Women's Basketball
description: >-
  Official Women's Basketball page for the Kankakee Community College
  Cavaliers.  The Cavaliers play in NJCAA Division II, Region 4.
base: womens-basketball
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/womens-basketball-team-photo.jpg
    alt-text: KCC Cavaliers Women's Basketball Team 2023-24 season 2022-23
    url: '#'
    text1: 2023-2024
    text2: Women's Basketball
  - image: /uploads/wbasketball-2-DSC_7956.jpg
    alt-text: 'Women''s Basketball player #14 Hayley Diveley'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
  - image: /uploads/wbasketball-3-DSC_7634.jpg
    alt-text: 'Women''s basketball player #4 Anna Hagan'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
  - image: /uploads/wbasketball-4-DSC_8275.jpg
    alt-text: 'Women''s basketball player #22  Jazmyn Smith'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
  <div class="row mb-2">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
          <p>The Lady Cavaliers Women&apos;s Basketball Team begins their season on Saturday, November 2nd at 1:00pm as they take on Spoon River College at home.</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
            <p>Casey Meister returns as Head Coach for her fourth season and is extremely excited for the new season. Her excitement and high expectations come from the work she put in recruiting to the rich history of Cavalier basketball that once held a standard of 20+ wins per season.</p>
            <p>Meister&apos;s 2023-2024 group finished with 14 wins, short of their team goal. Even after that, Meister continues to take on a challenging schedule playing nationally ranked teams in pursuit of becoming the best team possible for the postseason.</p>
            <p>The 24'-25 Cavalier roster features plenty of new faces. In total, there are 13 freshmen coming in. Meister gets straight to the point by stating “The Freshman are going to have to make an impact for us right away.” Among them are six players from the Peoria area; Adriana Barber, Tania Cox, Ava Simpson, Alana Ross, Alyssa Ross and Janessa Wallace. Three athletes from Indiana; Malaysia Flanagan, Kayla Lacombe and Johnetta Whitmire. Khiara Cerdeira from Florida, Mariya Babilius from Wisconsin and two locals; Lynlee Jubin and Lexi Salazar. Meister is hoping that the familiarity among the players helps build team unity and camaraderie quickly as she knows, this is a huge part of success.</p>
            <p>The Lady Cavs have two sophomores returning. Among those two sophomores, Jaida Taylor, will take a medical redshirt due to a torn ACL and will not play this season. Jaida will remain very involved and has been given the title of team captain. Harmony Reynolds is the only seasoned sophomore returning to the floor. Reynolds is able to share what it takes to grind through a full college season and looks to play a pivotal role for the team as a leader.</p>
            <p>Coach Meister spoke honestly by stating “This year is going to be challenging; we have a tough schedule and a whole new squad. The quicker the players learn, the more successful our season will be. It&apos;s going to take some time to figure out how to be a college athlete,” She followed up with “Once they figure that out, I think we&apos;ll be okay. I&apos;m confident because this group competes and already has an edge about them.”</p>
            <p>The expectations for this season are high for the Lady Cavaliers. Coach Meister expects this team to be fast and put a lot of points on the board and hopes that leads to team wins.</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
    </div>
  </div>


  <div class="row schedule-row">
    <div class="col-md-12">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&nbsp;Upcoming Games <!-- <a href="{{ page.baseurl }}womens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
      <a class="btn btn-primary mb-3 ms-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
      <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
      <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
        {% include loading-slider.html %}
      </div>
    </div>
  </div>
  <div class="row news-social-row">
    <div class="col-md-8 news-feed">
      <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
        <div class="news__scroll">
          <ul class="news__list">
            {% assign wbball_posts = site.posts | where_exp: "item", "item.categories contains 'womens-basketball' or item.categories contains 'general'" %}
            {% for post in wbball_posts limit: 7 %}
              {% include news-item.html %}
              {% include news-item-modal.html %}
            {% endfor %}
          </ul>
          <div class="text-center mb-3">
            <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary">More Articles</a>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&nbsp;Social Media</h2>
      {% include facebook-widget_wbb.html %}
    </div>
  </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;&nbsp;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
