---
layout: default
baseurl: ../
title: Women's Basketball
description: >-
  Official Women's Basketball page for the Kankakee Community College
  Cavaliers.  The Cavaliers play in NJCAA Division II, Region 4.
base: womens-basketball
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/2024-wbasketball_team.jpg
    alt-text: KCC Cavaliers Women's Basketball Team 2024-25 season
    url: '#'
    text1: 2024-2025
    text2: Women's Basketball
  - image: /uploads/wbasketball-2-DSC_7956.jpg
    alt-text: 'Women''s Basketball player #14 Hayley Diveley'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
  - image: /uploads/wbasketball-3-DSC_7634.jpg
    alt-text: 'Women''s basketball player #4 Anna Hagan'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
  - image: /uploads/wbasketball-4-DSC_8275.jpg
    alt-text: 'Women''s basketball player #22  Jazmyn Smith'
    url: '#'
    text1: 2022-2023
    text2: Women's Basketball
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
  <div class="row mb-2">
    <div class="col">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;Season Preview</h2>
      <div class="season-preview__content-bg">
        <div class="editable">
          <p>The Lady Cavaliers Basketball Team begins its season on Saturday, Nov. 2 at 1 p.m. hosting Spoon River College at home.</p>
        </div>
        <div id="collapsePreview" class="collapse">
          <div class="editable">
            <p>Fourth-season Head Coach Casey Meister is extremely excited for the new season. Meister said her excitement and high expectations come from having a team which could bring back the rich history of Cavaliers basketball with 20-plus wins per season.</p>
            <p>The 2023-24 team had 14 wins, short of its goal. For this year, the Lady Cavaliers will continue taking on a challenging schedule—including nationally ranked teams—in pursuit of becoming the best team possible for the postseason. This year's roster features 13 freshmen.</p>
            <p>“The freshmen are going to have to make an impact for us right away,” Meister said. Among them are six players from the Peoria area: Adriana Barber, Tania Cox, Ava Simpson, Alana Ross, Alyssa Ross and Janessa Wallace. Three athletes hail from Indiana: Malaysha Flanagan, Kayla Lacombe and Johnetta Whitmire. The recruiting class is rounded out by Khiara Cerdeira, from Florida; Mariya Babilius, from Wisconsin; and two locals, Lynlee Jubin and Lexi Salazar.</p>
            <p>Meister believes the freshmen players' familiarity with each other will quickly foster team unity and camaraderie, and she recognizes those crucial components of success.</p>
            <p>The Lady Cavs have two returning sophomores. Jaida Taylor will be a medical redshirt, and she won't play, due to a torn ACL. Taylor will remain involved, and will be a team captain. Harmony Reynolds will play a pivotal role for the team as a leader. Reynolds will share with her teammates what it takes to grind through a full college season.</p>
            <p>“This year is going to be challenging; we have a tough schedule and a whole new squad,” Meister said. “The quicker the players learn, the more successful our season will be. It's going to take some time to figure out how to be a college athlete. Once they figure that out, I think we'll be okay. I'm confident because this group competes and already has an edge about them.”</p>
            <p>The expectations for this season are high for the Lady Cavaliers. Meister expects this team to be fast and put a lot of points on the board, and she hopes that leads to wins.</p>
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
    </div>
  </div>


  <div class="row schedule-row">
    <div class="col-md-12">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&nbsp;Upcoming Games <!-- <a href="{{ page.baseurl }}womens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
      <a class="btn btn-primary mb-3 ms-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
      <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
      <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
        {% include loading-slider.html %}
      </div>
    </div>
  </div>
  <div class="row news-social-row">
    <div class="col-md-8 news-feed">
      <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
        <div class="news__scroll">
          <ul class="news__list">
            {% assign wbball_posts = site.posts | where_exp: "item", "item.categories contains 'womens-basketball' or item.categories contains 'general'" %}
            {% for post in wbball_posts limit: 7 %}
              {% include news-item.html %}
              {% include news-item-modal.html %}
            {% endfor %}
          </ul>
          <div class="text-center mb-3">
            <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary">More Articles</a>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&nbsp;Social Media</h2>
      {% include facebook-widget_wbb.html %}
    </div>
  </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;&nbsp;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
