---
layout: default
baseurl: ../
title: Women's Soccer
season_preview: true
description: >-
  Official Women's Soccer page for the Kankakee Community College Cavaliers. 
  The Cavaliers play in NJCAA Division II, Region 4.
base: womens-soccer
body_class: landing
include_datatables: false
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/2023/wsoccer-team_z92_4850.jpg
    alt-text: Team photo of the 2023 KCC Cavaliers women's soccer team
    url: '#'
  - image: /uploads/2023/soccer_z92_4949.jpg
    alt-text: "Men and women's soccer sophomores"
    url: '#'
  - image: /uploads/womens-soccer-1-_DSC1712.jpg
    alt-text: "Women's soccer player #18 Mariel Camargo"
    url: '#'
  - image: /uploads/women-soccer-2-_DSC1726.jpg
    alt-text: "Women's soccer player #17 Tess Wallace"
    url: '#'
  - image: /uploads/womens-soccer-4-_DSC1894.jpg
    alt-text: "Women's soccer player #22 Aiyanna Lopez"
    url: '#'
---
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<div class="container px-0 positioning__max-width-1300--xxl">
  {% include hero-slider.html %}
</div>
<section class="container content-marg">
    <div class="row schedule-row{% if page.season_preview == false %} editor-content{% endif %}">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&nbsp;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>Looking to build on a successful inaugural season which ended at the Region IV Quarterfinals in 2021, the Lady Cavs are looking to take the next step this year.</p>
          </div>
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>&ldquo;We have added some key players to our roster that will make a huge impact on making that happen this year,&rdquo; said Head Coach Mike Barclay. "Returning a solid core of last year&rsquo;s players, our learning curve for this upcoming season is well ahead of schedule, and the ladies are hungry for the upcoming campaign.&rdquo;</p>
            </div><br />
          </div>
          <button class="btn btn-primary float-right season-preview__btn--more js-more-btn" type="button" data-toggle="collapse" data-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
        </div>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&nbsp;Upcoming Games <!-- <a href="{{ page.baseurl }}soccer/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <a class="btn btn-primary mb-3 ml-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ml-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}womens-soccer/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign wsoccer_posts = site.posts | where_exp: "item", "item.categories contains 'womens-soccer' or item.categories contains 'general'" %}
              {% for post in wsoccer_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}womens-soccer/news" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&nbsp;Social Media</h2>
        {% include facebook-widget.html %}
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&nbsp;Coaches</h4>
    </div>
    <div class="row editor-link">
      <div class="col editor-link mb-3">
        <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
      </div>
    </div>
    <div class="row">
      {% include contacts.html %}
    </div>
  </div>
  {% include contacts-modals.html %}
</section>
