---
layout: default
baseurl: ../
title: Women's Basketball
description: >-
  Official Women's Basketball page for the Kankakee Community College
  Cavaliers.  The Cavaliers play in NJCAA Division II, Region 4.
base: womens-basketball
body_class: landing
include_datatables: false
include_facebook_sdk: true
include_gapi: true
include_sub-nav: true
slides:
  - image: /uploads/2024-wbasketball_team_kmc_5498.jpg
    alt-text: KCC Cavaliers Women's Basketball Team 2024-25 season
    url: '#'
    text1: 2024-2025
    text2: Women's Basketball
  - image: /uploads/womens-basketball-24-25-one-cropped.jpg
    alt-text: 'Women''s Basketball player #15 Harmony Reynolds'
    url: '#'
    text1: 2024-2025
    text2: Women's Basketball
  - image: /uploads/womens-basketball-24-25-two-cropped.jpg
    alt-text: Women's basketball team joining hands
    url: '#'
    text1: 2024-2025
    text2: Women's Basketball
  - image: /uploads/womens-basketball-24-25-three-cropped.jpg
    alt-text: 'Women''s basketball player #13 Tania Cox'
    url: '#'
    text1: 2024-2025
    text2: Women's Basketball
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <div class="container px-0 positioning__max-width-1300--xxl">
    {% include hero-slider.html %}
  </div>
  <section class="container content-marg">
    <div class="row mb-2">
      <div class="col">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;Season Preview</h2>
        <div class="season-preview__content-bg">
          <div class="editable">
            <p>Entering her fifth season at the helm, Head Coach Casey Meister and the Cavaliers are reloaded, refocused, and ready for redemption after falling just short in the Region 4 District B Championship last season.&nbsp;The Cavaliers finished the 2024–25 campaign with an 18-15 record and strong 16-7 record in Region 4. Along the way, they pulled off a big win by defeating the No. 1 ranked team in the region.</p>
          </div>
          <div id="collapsePreview" class="collapse">
            <div class="editable">
              <p>Last year’s roster included 13 freshmen, a group that took time to adjust both to college-level play and to each other. The early growing pains were evident, as the Cavaliers entered the holiday break with a 5-11 record. Through it all, Meister remained confident. “I just kept telling them, I know what I recruited, and I know what we’re capable of,” she said. That belief paid off. The team regrouped in the second half of the season, found its identity, and went on a remarkable 13-4 run to close the year. Though they came up short in the Region championship game, the experience set the stage for a comeback.</p>
              <p>Now, the Cavaliers are a more mature, battle-tested team that’s deeper and more connected than ever. Sophomore Jaida Taylor returns to the floor after sitting out last season with an ACL injury. She is expected to play a key leadership role. Taylor joins six returning sophomores: Ava Simpson, an All-Region selection; Alana and Alyssa Ross, a gritty and reliable duo; and versatile returners Adriana Barber, Mariya Babilius, and Malaysha Flanagan. Together, this group brings chemistry and toughness.</p>
              <p>The program also bolstered its roster with two impact transfers: Khalise Thomas from Illinois Central College and Braniyah Hickman from Southwestern Illinois College. Both add valuable experience and an edge that fits perfectly with Meister’s competitive culture. The incoming freshman class rounds out the roster with exciting new talent, including Keyana Sanderson (Chicago), Morgan Johnson (Crete), TaLeah Turner (Kankakee), and Ana Marco Sabater (Godella, Spain). Each freshman brings unique skills to push the depth and intensity of the team’s practices and rotations.</p>
              <p>“You just feel a different connectedness than we’ve had in the past,” Coach Meister said. “The team chemistry and competitiveness is undeniable.”</p>
              <p>That connectedness, paired with the lessons of last season, has become the foundation for the Cavaliers’ new identity. The Cavaliers enter the 2025–26 season not just with talent—but with purpose. This time, they’re aiming to go all the way.</p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-end season-preview__btn--more js-more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePreview" aria-expanded="false" aria-controls="collapsePreview">More ...</button>
      </div>
    </div>


    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&nbsp;Upcoming Games <!-- <a href="{{ page.baseurl }}womens-basketball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a> --></h2>
        <a class="btn btn-primary mb-3 ms-2" href="https://www.youtube.com/channel/UCsWah4rJ6mYqMYcIDw4l6Zg" target="_blank" rel="noopener noreferrer">Watch Home Games Live</a>
        <a class="btn btn-primary mb-3 ms-2" href="./schedule/">View Schedule</a>
        <div id="scheduleDiv" class="baseball slick games" style="padding:15px">
          {% include loading-slider.html %}
        </div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&nbsp;News <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% assign wbball_posts = site.posts | where_exp: "item", "item.categories contains 'womens-basketball' or item.categories contains 'general'" %}
              {% for post in wbball_posts limit: 7 %}
                {% include news-item.html %}
                {% include news-item-modal.html %}
              {% endfor %}
            </ul>
            <div class="text-center mb-3">
              <a href="{{ page.baseurl }}womens-basketball/news/" class="btn btn-primary">More Articles</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&nbsp;Social Media</h2>
        {% include facebook-widget_wbb.html %}
      </div>
    </div>
  </section>
  <!-- Coaches Section -->
  <section class="coach-section">
    <div class="container">
      <div class="row">
        <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="" />&nbsp;&nbsp;Coaches</h4>
      </div>
      <div class="row editor-link">
        <div class="col editor-link mb-3">
          <a href="cloudcannon:collections/_contacts/" class="btn btn-success editor-button">Edit Coach Information and Bios</a>
        </div>
      </div>
      <div class="row">
        {% include contacts.html %}
      </div>
    </div>
    {% include contacts-modals.html %}
  </section>
</main>
