<div role="navigation" class="container global-nav fixed-top">
  <div class="row">
    <div class="col-xs-6">
      <a class="clickable" href="https://www.kcc.edu">
        <img src="{{page.baseurl}}assets/img/kankakee-community-college-word-logo.svg"
          class="img-fluid kcc-logo"
          alt="Kankakee Community College link to home page">
      </a>
    </div>
    <div class="col-xs-6">
      <a href="/">
        <img src="{{page.baseurl}}assets/img/cavaliers.svg"
          class="center-logo d-xs-inline d-lg-none"
          alt="KCC Cavaliers logo link to main athletics page">
      </a>
    </div>
  </div>
</div>
