<div class="container-fluid sub-nav">
  <div class="row sub-nav-row mx-auto pt-4">
    <div class="col-lg-6 text-center">
      <h1 class="page-heading text-center">Support KCC Athletics</h1>
    </div>
    <div class="col-lg-6">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/cash-bash/" class="nav-link sub-nav-link">Cash Bash</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/cavalier-club/" class="nav-link sub-nav-link">Cavalier Club</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/donate/" class="nav-link sub-nav-link">Donate</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/golf-outing/" class="nav-link sub-nav-link">Golf Outing</a>
        </li>
      </ul>
    </div>
  </div>
</div>
