{% assign sorted_contacts = site.contacts | sort: "sort_number" %}
{% if page.title == "Baseball" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "baseball" %}
{% elsif page.title == "Men's Basketball" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "men's basketball" %}
{% elsif page.title == "Soccer" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "soccer" %}
{% elsif page.title == "Women's Basketball" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "women's basketball" %}
{% elsif page.title == "Softball" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "softball" %}
{% elsif page.title == "Volleyball" %}
  {% assign coaches = sorted_contacts | where: "contacts_sport", "volleyball" %}
{% endif %}
{% for contact in coaches %}
<div class="modal fade" id="modalCoach{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalCoach{{ forloop.index }}Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalCoach{{ forloop.index }}Title" class="modal-title">{{ contact.contacts_title }} {{ contact.name }} Bio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" itemprop="description" itemscope itemtype="https://schema.org/Person">
        <img src="{{ page.baseurl }}{% if contact.portrait %}{{ contact.portrait }}{% else %}uploads/blank-male-avatar-1.jpg{% endif %}" alt="{{ contact.name }}" class="img-fluid float-start coach-modal-img" title="{{ contact.name }}" itemprop="image" />
        <h5 class="coach-name" itemprop="name">{{ contact.name }}</h5>
        {% if contact.contacts_title %}<h6 class="coach-title" itemprop="jobTitle">{{ contact.contacts_title }}</h6>{% endif %}
        {% if contact.content and contact.content != '' %}
        <div itemprop="description">
          {{ contact.content }}
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
