<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.url == '/' %}{{page.title}} - {{site.title}}{% else %}{{ page.title }} - KCC Athletics{% endif %}</title>
    <meta name="description" content="{{ page.description | strip }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.url }}{% if page.url != '/' %}{{ page.url }}{% endif %}">
    {% include preconnect.html %}
    {% include styles/fonts.html %}
    {% if site.humans_file == true %}
    <!-- The human's, the human's!! -->
    <link rel="author" type="text/plain" href="/humans.txt" />
    {%- endif -%}
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="{{page.baseurl}}favicon.ico"/>
    {% include styles/vendor.html %}
    {%- if page.include_datatables == true -%}
    {% include styles/datatables.html %}
    {%- endif -%}
    {% include styles/main.html %}
    {% include script/google-tag.html %}
  </head>
