<div class="row mx-0">
  <div id="heroSlider" class="col hero-slider">
    {% for slide in page.slides %}
    {% assign prefix  = slide.image | slice: 0 %}
    {% if prefix == '/' %}
    {% assign slide_image = slide.image | remove_first: '/' %}
    {% else %}
    {% assign slide_image = slide.image %}
    {% endif %}
      {% if forloop.first == true %}
      <div>
        <a class="ga_slider_link" href="{{ slide.url }}">
          <img src="{{ page.baseurl }}{{ slide_image }}"
           class="img-fluid hero-slider__img"
           alt="{{slide.alt-text}}">
        </a>
        {% if slide.text1 or slide.text2 %}
        <a class="ga_slider_link" href="{{ slide.url }}">
          <div class="hero-slider__heading-wrapper">
            {% if slide.text1 %}<h3 class="typography__hero-slider--sub-heading">{{ slide.text1 }}</h3>{% endif %}
            {% if slide.text2 %}<h3 class="typography__hero-slider--main-heading">{{ slide.text2 }}</h3>{% endif %}
          </div>
        </a>
        {% endif %}
      </div>
      {% else %}
      <div>
        <a class="ga_slider_link" href="{{ slide.url }}">
          <img src="{{ page.baseurl }}assets/img/placeholder_grayscale.jpg"
           data-src="{{ page.baseurl }}{{slide_image}}"
           class="img-fluid hero-slider__img"
           alt="{{slide.alt-text}}">
        </a>
        {% if slide.text1 or slide.text2 %}
        <a class="ga_slider_link" href="{{ slide.url }}">
          <div class="hero-slider__heading-wrapper">
            {% if slide.text1 %}<h3 class="typography__hero-slider--sub-heading">{{ slide.text1 }}</h3>{% endif %}
            {% if slide.text2 %}<h3 class="typography__hero-slider--main-heading">{{ slide.text2 }}</h3>{% endif %}
          </div>
        </a>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
