<div class="row slider-row">
  <div class="col-md-12 baseballSlider">
    {% for slide in page.slides %}
      {% if forloop.first == true %}
      <div>
        <a href="{{ slide.url }}">
          <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
        </a>
        <a href="{{ slide.url }}">
          <div class="heading-container">
            <h3 class="sub-heading">{{slide.text1}}</h3>
            <h3 class="slide-heading">{{slide.text2}}</h3>
          </div>
        </a>
      </div>
      {% else %}
      <div>
        <a href="{{ slide.url }}">
          <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
        </a>
        <a href="{{ slide.url }}">
          <div class="heading-container">
            <h3 class="sub-heading">{{slide.text1}}</h3>
            <h3 class="slide-heading">{{slide.text2}}</h3>
          </div>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>