<!--  News roll-up item  -->
<li class="no-bullet news__list-item">
  <a data-bs-toggle="modal" href="#post{{ forloop.index }}" class="news__link">
    <div class="news__cell-left">
      <img {% if forloop.first != true %}src="/assets/img/placeholder_grayscale.jpg" data-{% endif %}src="{{ page.baseurl }}{{ post.news_thumb_image }}" class="news__thumb" alt="{{ post.news_thumb_alt }}">
    </div>
    <div class="news__cell-right">
      <h5 class="news__sub-heading news__sub-heading--spacing">{{ post.post_topic }} &middot; <span class="news__date"> {{ post.date | date: "%B %-d, %Y" }} </span></h5>
      <h4 class="news__heading">{{ post.title }}</h4>
      <p class="news__paragraph">{{ post.description }}</p>
    </div>
  </a>
</li>
