<!--  News item modal  -->
<div class="modal fade" id="post{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle{{ forloop.index }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/assets/img/placeholder_grayscale.jpg" data-src="{{ page.baseurl }}{{ post.news_thumb_image }}" alt="{{ post.news_thumb_alt }}" class="img-fluid float-start news__modal-thumb"/>
        <h5 class="news__sub-heading news__sub-heading--spacing">{{ post.post_topic }} &middot; <span class="news__date"> {{ post.date | date: "%B %-d, %Y" }} </span></h5>
        <h4 id="modalCenterTitle{{ forloop.index }}" class="news__heading">{{ post.post_title }}</h4>
        <p class="news__paragraph">{{ post.content }}</p>
        <p><a class="btn btn-primary" href="{{ post.url }}">Page View</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
