<!-- preconnects and preloads to assets -->
<!-- fonts -->
<!-- preconnect to Eurostile typekit font -->
<link rel="preconnect" href="https://use.typekit.net">
<!-- preconnect to Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- preconnect to Google Custom Search -->
<link rel="preconnect" href="https://clients1.google.com">
<link rel="preconnect" href="https://www.google.com">
{% if page.slides or page.include_datatables %}
<!-- preconnect to jQuery -->
<link rel="preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endif %}
{%- if page.include_gapi == true -%}
<!-- preconnect to the Google API -->
<link rel="preconnect" href="https://apis.google.com/js/api.js">
{%- endif -%}
{%- if page.include_datatables == true -%}
<!-- preconnect to DataTables styles and scripts -->
<link rel="preconnect" href="https://cdn.datatables.net/v/bs4/dt-1.13.10/b-2.4.2/b-print-2.4.2/r-2.5.0/datatables.min.css">
<link rel="preconnect" href="https://cdn.datatables.net/v/bs4/dt-1.13.10/b-2.4.2/b-print-2.4.2/r-2.5.0/datatables.min.js">
{%- endif -%}
<!-- preload the main custom stylesheet -->
<link rel="preload" as="script" href="{{page.baseurl}}assets/js/dist/main{% if site.data.hash %}.{{ site.data.hash }}{% endif %}.bundle.js">
{% if page.slides %}
<!--  preconnect to Slick.js stylesheets/JS  -->
<link rel="preconnect" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
<link rel="preconnect" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
<link rel="preconnect" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js">
<!-- preload the first slide since it is visible on pageload -->
<link rel="preload" as="image" href="{{ page.baseurl }}{{ page.slides[0].image }}">
{% endif %}
{% if page.include_facebook_sdk %}
<link rel="preconnect" crossorigin="anonymous" href="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0" nonce="16bN9R1n">
{% endif %}
<!-- End of preconnects and preloads -->
