{% assign staff_members = site.staff | sort: 'order' %}
{% for member in staff_members %}
<div class="modal fade" id="modalCoach{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalCoach{{ forloop.index }}Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" itemprop="description" itemscope itemtype="https://schema.org/Person">
        <img alt="{{ member.name }}" class="img-fluid float-start coach-modal-img" src="{{ member.image }}" itemprop="image" />
        <h5 id="modalCoach{{ forloop.index }}Title" class="coach-name" itemprop="name">{{ member.name }}</h5>
        <h6 class="coach-title" itemprop="jobTitle">{{ member.contacts_title }}</h6>
        {% if member.content and member.content != '' %}
        <div itemprop="description">
          {{ member.content | markdownify }}
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
