<div class="container-fluid sub-nav positioning__sub-nav--container">
  <div class="row sub-nav-row mx-auto pt-4">
    <div class="col-md-6 text-center">
      <h1 class="page-heading">{{ page.base }}</h1>
    </div>
    <div class="col-md-6">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/sports-facilities" class="nav-link sub-nav-link">Sports Facilities</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/fitness-center" class="nav-link sub-nav-link">Fitness Center</a>
        </li>
      </ul>
    </div>
  </div>
</div>
