@use '../0-tools/vars' as *;

// Footer Styles
.footer {
  background-color: $footer-bg;
  margin-top: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
}

// Footer's "athletics.kcc.edu link"
.footer-link {
  color: $primary-blue;
  transition-property: color;
  transition-timing-function: linear;
  transition-duration: .15s;
  text-decoration: none !important;
  &:hover {
    color: $primary-red;
  }
}

.footer-icons {
  background-color: $primary-red;
  border-radius: 50%;
  height: 35px;
  margin: 4px;
  padding: 2px;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: .1s;
  width: 35px;
}

@media screen and (min-width: 350px) {
  .footer-icons {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}

@media screen and (min-width: 412px) {
  .footer-icons {
    height: 50px;
    width: 50px;
  }
}

a.footer-social-links, a.footer-social-links .footer-icons {
  text-decoration: none !important; // Get rid of default link-underline on hover
}

a.footer-social-links:hover .footer-icons {
  text-decoration: none !important;
  background-color: $primary-blue;
}

.footer-icon__wrapper {
  margin-bottom: .5em;
}
