---
layout: default
baseurl: ../../
title: Soccer Stats
description: "Kankakee Community College Cavaliers Men's Soccer statistics."
base: soccer
sport_sub_nav: true
sub-nav_hidden: true
body_class: page ## <landing|page>
include_datatables: true
include_gapi: true
include_sub-nav: true
include_poppers: true
njcaa_stats:
  - years: 2012-13
    division: div1
  - years: 2013-14
    division: div1
  - years: 2014-15
    division: div1
  - years: 2016-17
    division: div1
  - years: 2017-18
    division: div1
  - years: 2018-19
    division: div1
  - years: 2019-20
    division: div1
  - years: 2020-21
    division: div2
  - years: 2021-22
    division: div2
  - years: 2022-23
    division: div2
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col">
      <span id="page-top" class="link__offset" aria-hidden="true"></span>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          NJCAA Soccer Stats
        </button>
        <div class="dropdown-menu">
          {% for stat in page.njcaa_stats %}
          <a
            class="dropdown-item"
            href="http://stats.njcaa.org/sports/msoc/{{ stat.years }}/{{ stat.division }}/teams/kankakeecommunitycollege"
            rel="noopener noreferrer"
            target="_blank"
          >{{ stat.years }} Soccer Stats&nbsp;<svg
            class="ml-1 positioning__valign-middle"
            xmlns="http://www.w3.org/2000/svg"
            height="16"
            viewBox="0 0 24 24"
            width="16"
            fill="#555"
          >
            <path
              d="M0 0h24v24H0z"
              fill="none"
            />
            <path
              d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 
              2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
            />
            </svg>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="btn-group mb-4" role="group" aria-label="NJCAA stats button group 2012-18">
        {% for stat in page.njcaa_stats1 %}
        <a
          class="btn btn-primary{% if forloop.last %} active{% endif %}"
          target="_blank"
          rel="noopener"
          href="http://stats.njcaa.org/sports/msoc/{{ stat.years }}/{{ stat.division }}/teams/kankakeecommunitycollege">
          {{ stat.years }} Soccer Stats on NJCAA Website&nbsp;<svg
           class="ml-1"
           xmlns="http://www.w3.org/2000/svg"
           height="16"
           viewBox="0 0 24 24"
           width="16"
           fill="#fff"
          >
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
          </svg>
        </a>  
        {% endfor %}
      </div>
      <div class="btn-group mb-4" role="group" aria-label="NJCAA stats button group 2018-23">
        {% for stat in page.njcaa_stats2 %}
        <a
          class="btn btn-primary{% if forloop.last %} active{% endif %}"
          target="_blank"
          rel="noopener"
          href="http://stats.njcaa.org/sports/msoc/{{ stat.years }}/{{ stat.division }}/teams/kankakeecommunitycollege">
          {{ stat.years }} Soccer Stats on NJCAA Website&nbsp;<svg
           class="ml-1"
           xmlns="http://www.w3.org/2000/svg"
           height="16"
           viewBox="0 0 24 24"
           width="16"
           fill="#fff"
          >
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/>
          </svg>
        </a>  
        {% endfor %}
      </div>
      <!-- Baseball statistics tabbed navigation -->
      <div id="Stats">
        {% include loader.html %}
      </div>
    </div>
  </div>
</section>
