---
layout: default
baseurl: ../../
base: about
title: Equity in Athletics
description: Kankakee Community College's Equity in Athletics report.
body_class: page
include_datatables: false
include_gapi: true
include_sub-nav: false
---
{% include nav/about-nav.html %}
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="typography__h2">
            Equity in Athletics
          </h2>
          <div class="editable">
            <p>Any coeducational institution of higher education that participates in a federal student aid program and has an intercollegiate athletics program must publish an annual Equity in Athletics report containing participation rates, financial support, and other information on men's and women's intercollegiate athletic programs. The U.S. Department of Education uses this information to prepare its required report to Congress on gender equity in intercollegiate athletics.</p>
          </div>
          <h3 class="typography__h3">
            Kankakee Community College<br>
            Equity in Athletics Disclosure Act (EADA) Report
          </h3>
          <h4 class="typography__h4">
            Report on Athletic Program Participation Rates and Financial Support Data<br>
            July 1, 2024 through June 30, 2025
          </h4>
          <br>
          <h5 class="typography__h5">College Enrollment Full-Time Undergraduates</h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Gender</th>
                  <th scope="col">Number</th>
                  <th scope="col">Percent</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Male Students</th>
                  <td>405</td>
                  <td>48%</td>
                </tr>
                <tr>
                  <th scope="row">Female Students</th>
                  <td>439</td>
                  <td>52%</td>
                </tr>
                <tr>
                  <th scope="row">Totals</th>
                  <td>844</td>
                  <td>100%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <h5 class="typography__h5">Athletically Related Student Aid</h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Team Gender</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Percent</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Men's</th>
                  <td>927,548</td>
                  <td>52%</td>
                </tr>
                <tr>
                  <th scope="row">Women's</th>
                  <td>843,207</td>
                  <td>48%</td>
                </tr>
                <tr>
                  <th scope="row">Totals for All Teams</th>
                  <td>1,770,755</td>
                  <td>100%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <h5 class="typography__h5">Athletic Participation</h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">Number of Participants - Men's</th>
                  <th scope="col">Number of Participants - Women's</th>
                  <th scope="col">Number Participating on a Second Team - Men's</th>
                  <th scope="col">Number Participating on a Second Team - Women's</th>
                  <th scope="col">Number Participating on a Third Team - Men's</th>
                  <th scope="col">Number Participating on a Third Team - Women's</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Baseball</th>
                  <td>34</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Basketball</th>
                  <td>15</td>
                  <td>14</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Soccer</th>
                  <td>21</td>
                  <td>16</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Softball</th>
                  <td>-</td>
                  <td>19</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Volleyball</th>
                  <td>-</td>
                  <td>12</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Total Participants</th>
                  <td>70</td>
                  <td>61</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Percentage of Total</th>
                  <td>53%</td>
                  <td>47%</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Unduplicated Count</th>
                  <td>70</td>
                  <td>61</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <h5 class="typography__h5">Total Revenues & Expenses</h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Team</th>
                  <th scope="col">Total Revenues - Men's</th>
                  <th scope="col">Total Revenues - Women's</th>
                  <th scope="col">Total Revenues - Totals</th>
                  <th scope="col">Total Expenses - Men's</th>
                  <th scope="col">Total Expenses - Women's</th>
                  <th scope="col">Total Expenses - Totals</th>
                  <th scope="col">Revenues minus Expenses - Men's</th>
                  <th scope="col">Revenues minus Expenses - Women's</th>
                  <th scope="col">Revenues minus Expenses - Totals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Baseball</th>
                  <td>494,336</td>
                  <td>-</td>
                  <td>494,336</td>
                  <td>494,336</td>
                  <td>-</td>
                  <td>494,336</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Basketball</th>
                  <td>384,080</td>
                  <td>341,094</td>
                  <td>725,174</td>
                  <td>384,080</td>
                  <td>341,094</td>
                  <td>725,174</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Soccer</th>
                  <td>258,819</td>
                  <td>128,859</td>
                  <td>387,678</td>
                  <td>258,819</td>
                  <td>128,859</td>
                  <td>387,678</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Softball</th>
                  <td>-</td>
                  <td>373,734</td>
                  <td>373,734</td>
                  <td>-</td>
                  <td>373,734</td>
                  <td>373,734</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Volleyball</th>
                  <td>-</td>
                  <td>211,597</td>
                  <td>211,597</td>
                  <td>-</td>
                  <td>211,597</td>
                  <td>211,597</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Totals for All Teams</th>
                  <td>1,137,235</td>
                  <td>1,055,285</td>
                  <td>2,192,520</td>
                  <td>1,137,235</td>
                  <td>1,055,285</td>
                  <td>2,192,520</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Not Allocated by Gener/Sport</th>
                  <td>-</td>
                  <td>-</td>
                  <td>214,369</td>
                  <td>-</td>
                  <td>-</td>
                  <td>214,369</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <th scope="row">Grand Totals for All Sports</th>
                  <td>-</td>
                  <td>-</td>
                  <td>2,406,888</td>
                  <td>-</td>
                  <td>-</td>
                  <td>2,406,888</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% comment %}
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </section>
</main>
