---
layout: default
baseurl: ../../
base: about
title: Staff
description: >-
  Listing of coaches and personnel for Kankakee Community College Cavaliers
  athletics.
body_class: page
include_datatables: false
include_gapi: true
include_sub-nav: false
main_page_heading: Staff Directory
---
{% include nav/about-nav.html %}
<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="h3 mb-4">
          {{ page.main_page_heading }}
        </h3>
        <div class="editable">
          <h6 class="h6 mb-0">Bryce Shafer</h6>
          <p>Athletic Director/Head Baseball Coach<br /><a href="tel:+18158028613">815-802-8613</a><br /><a href="mailto:tpost@kcc.edu">bshafer@kcc.edu</a></p>
          <h6 class="h6 mb-0">Casey Meister</h6>
          <p>Assistant Athletic Director/Fitness Center Supervisor<br />Head Women's Basketball Coach<br /><a href="tel:+18158028614">815-802-8614</a> / <a href="tel:+18158028610">815-802-8610</a><br /><a href="mailto:cmeister@kcc.edu">cmeister@kcc.edu</a></p>
          <h6 class="h6 mb-0">Keith Cooper</h6>
          <p>Head Softball Coach<br /><a href="tel:+18158028606">815-802-8606</a><br /><a href="mailto:kcooper@kcc.edu">kcooper@kcc.edu</a></p>
          <h6 class="h6 mb-0">Michael Brown</h6>
          <p>Head Men's Basketball Coach<br /><a href="tel:+18158028609">815-802-8609</a><br /><a href="mailto:mbrown@kcc.edu">mbrown@kcc.edu</a></p>
          <h6 class="h6 mb-0">Michael Barclay</h6>
          <p>Head Soccer Coach (men's and women's)<br /><a href="tel:+18158028618">815-802-8618</a><br /><a href="mailto:mbarclay@kcc.edu">mbarclay@kcc.edu</a></p>
          <h6 class="h6 mb-0">Bailey White</h6>
          <p>Head Volleyball Coach/Student Success Advisor<br /><a href="tel:+18158028608">815-802-8608</a><br /><a href="mailto:lthompson@kcc.edu">lthompson@kcc.edu</a></p>
          <h6 class="h6 mb-0">Candice Brackett</h6>
          <p>Athletic Trainer<br /><a href="tel:+18158028617">815-802-8617</a><br /><a href="mailto:cbrackett@kcc.edu">cbrackett@kcc.edu</a></p>
          <h6 class="h6 mb-0">Nick Ulrey</h6>
          <p>Academic Success/Assistant Baseball Coach<br /><a href="tel:+18158028600">815-802-8600</a><br /> </p>
          <h6 class="h6 mb-0">Francine Castongia</h6>
          <p>Administrative Assistant<br /><a href="tel:+18158028604">815-802-8604</a><br /><a href="mailto:fcastongia@kcc.edu">fcastongia@kcc.edu</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
