---
layout: default
baseurl: ../../
title: Volleyball Stats
description: "Kankakee Community College Cavaliers Volleyball statistics."
base: volleyball
sport_sub_nav: true
sub-nav_hidden: true
body_class: page ## <landing|page>
include_datatables: false
include_gapi: true
include_sub-nav: true
include_poppers: true
njcaa_stats:
  - years: 2012-13
  - years: 2013-14
  - years: 2014-15
  - years: 2015-16
  - years: 2016-17
  - years: 2017-18
  - years: 2018-19
  - years: 2019-20
  - years: 2020-21
  - years: 2021-22
  - years: 2022-23
---
<main id="content">
  <div class="container margin__alert--2">
    <div class="row">
      <div class="col">
        {% include emergency-alert.html %}
      </div>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <div class="col">
        <span id="page-top" class="link__offset" aria-hidden="true"></span>
        <div class="dropdown mb-4">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Volleyball Stats on NJCAA Website
          </button>
          <div class="dropdown-menu">
            {% for stat in page.njcaa_stats %}
            <a
              class="dropdown-item"
              href="http://stats.njcaa.org/sports/wvball/{{ stat.years }}/div2/teams/kankakeecommunitycollege"
              rel="noopener noreferrer"
              target="_blank"
            >{{ stat.years }} Volleyball Stats&nbsp;<svg
              class="ms-1 positioning__valign-middle"
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              viewBox="0 0 24 24"
              width="16"
              fill="#555"
            >
              <path
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path
                d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 
                2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
              />
              </svg>
            </a>
            {% endfor %}
          </div>
        </div>
        <!-- Stats built via JS -->
        <div id="Stats">
          {% include loader.html %}
        </div>
      </div>
    </div>
  </section>
</main>
