---
layout: default
baseurl: ../../
title: Women's Soccer Stats
description: "Kankakee Community College Cavaliers Women's Soccer statistics."
base: womens-soccer
sub-nav_hidden: true
body_class: page ## <landing|page>
include_datatables: true
include_gapi: true
include_sub-nav: true
---

<div class="container margin__alert--2">
  <div class="row">
    <div class="col">
      {% include emergency-alert.html %}
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="col">
      <span id="page-top" class="link__offset" aria-hidden="true"></span>
      <!-- ===========================================================================
      REMOVED link to Stats on NJCAA website until we have stats available
      <a class="btn btn-primary buttons__margin-btm" target="_blank" rel="noopener" href="http://stats.njcaa.org/sports/msoc/2018-19/div1/teams/kankakeecommunitycollege">Soccer Stats on NJCAA Region 4 Website </a>
      =================================================== -->

      <!-- Baseball statistics tabbed navigation -->
      <div id="Stats">
        {% include loader.html %}
      </div>
    </div>
  </div>
</section>
