{% include document-head.html %}
  <body class="{{ page.body_class }}">
  {% include script/google-noscript.html %}
  {% include script/facebook-widget.html %}
  {% include global-nav.html %}
  {% include mega-nav.html %}
  {% if page.include_sub-nav == true %}{% include sub-nav.html %}{% endif %}
  {{ content }}
  {% include footer.html %}
  {% if page.include_gapi == true %}{% include script/google-api.html %}{% endif %}
  {% include script/vendor-scripts.html %}
  {% if page.include_datatables == true %}{% include script/table-scripts.html %}{% endif %}
  {% include script/custom-script.html %}
{% include foot.html %}
