{% include document-head.html %}
  <body data-bs-no-jquery class="{{ page.body_class }}">
  {% if page.include_facebook_sdk %}
    {% include script/facebook-sdk.html %}
  {% endif %}
  {% include script/google-noscript.html %}
  {% include nav/global-nav.html %}
  {% include nav/mega-nav.html %}
  {% if page.include_sub-nav == true %}{% include nav/sub-nav.html %}{% endif %}
  {{ content }}
  {% include footer.html %}
  {% if page.include_gapi == true %}{% include script/google-api.html %}{% endif %}
  {% include script/vendor-scripts.html %}
  {% if page.include_datatables == true %}{% include script/table-scripts.html %}{% endif %}
  {% include script/custom-script.html %}
{% include foot.html %}
